body {
  text-align: center;
  background-color: #011F3F;
}

h2{
  padding-top: 75px;
  color: white;
  font-size: 3rem;
}

#clickToPlay{
  margin: 0 2% 2%;
  height: 40px;
  width: 200px;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  background-color: #00a8cc;
  font-size: 1.25rem;
  border: 1px black;
}

#clickToPlay:hover{
  border: 1px black;
  color: black;
  background-color: #aeefec;
  transition-duration: 0.2s;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
}

#howToPlay{
  margin: 0 2% 2%;
  height: 40px;
  width: 200px;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  background-color: #00a8cc;
  font-size: 1.25rem;
  border: 1px black;
}

#howToPlay:hover{
  border: 1px black;
  color: black;
  background-color: #aeefec;
  transition-duration: 0.2s;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 150px;
  width: 150px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

p{
  color: white;
  font-size: 1.5rem;
}
